.card-author {
    height: 44px;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 16px;
    img {
      height: 100%;
      min-width: auto;
    }
    p {
      font-weight: bold;
      font-size: 18px;
    }
  }