.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    margin-bottom: 44px;
  }
  .c-topline {
    width: 1440px;
    margin: 0 auto;
  }